.navbar {
	background-color: #03a7b8;
	box-shadow: 0 2px 4px rgba(139, 92, 246, 0.5);
}

.nav-link {
	color: white;
	font-size: 18px;
	transition: color 0.3s ease-in-out;
}

.active {
	color: rgb(112 54 162) !important;
	font-weight: bold;
}
.nav-link:hover,
.nav-link:focus {
	color: #c3b6d4;
}

.navbar-brand {
	color: #757575;
	font-size: 24px;
	font-weight: bold;
}

.navbar-toggler {
	border-color: #666666;
}
