.buttonOutline {
	background: transparent;
	font-weight: 600;
	font-size: 1.25rem;
	color: #03a7b8;
	cursor: pointer;
	border: 0;
}
.buttonOutline:hover {
	color: #8860ab;
	transition: background-color 0.6s;
}
