:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	background-color: #fff;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.app {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

h2 {
	text-align: center;
	font-size: 35px;
	color: #03a7b8;
	margin: 50px 0 5px 0;
}
h4 {
	font-weight: bold;
	color: #cb8fff;
}
.app p {
	color: #595d6e;
	font-size: 16px;
	margin-bottom: 20px;
}

.app b {
	color: #cb8fff;
}

.app svg {
	width: 100%;
	position: absolute;
	bottom: 0;
}
