:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	background-color: #fff;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html,
body,
#root {
	height: 100%;
}
.app {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100%;
}
.margin-login {
}
h1,
h2,
h3 {
	color: #03a7b8;
	font-weight: 600;
}
h4 {
	font-weight: bold;
	color: #cb8fff;
}
.container p {
	color: #595d6e;
	font-size: 1.25rem;
	font-weight: 400;
}

b {
	color: #cb8fff;
}
.bg-secondary {
	background: #cb8fff;
}
.secondary-color {
	color: #cb8fff;
}
.app svg {
	width: 100%;
	position: absolute;
	bottom: 0;
}

b > button.buttonOutline {
	color: red;
}
